/* === Global Settings === */
.entry-content a {
	color:steelblue;
	border:0px;
	box-shadow:none;
}

ul, ol {
	padding-left: 40px;
}

/* === Header === */
#masthead .custom-header div.site-branding {
	background-color:rgba(0,0,0,.5);
	padding-top:20px;
}
#page .site-header .custom-header .site-branding > .wrap {
	display:flex;
	align-content:center;
	justify-content:center;
}
.site-branding a img {
	border-radius:50%;
	overflow:hidden;

}	
.site-branding a {
	padding:0px;
	margin-right:20px;
}
.site-header .navigation-top {
	box-shadow: 1px 1px 5px #ccc;
	background:#eee;
}
@media screen and (min-width: 30em) {
	ul#top-menu {
		display:flex;
		justify-content:center;

	}
	#top-menu li {
		margin: 0 10px;
	}
	#top-menu li.current-menu-item {
	}
}


/* === Content === */
.page.page-one-column header.entry-header {
	margin-bottom:20px;
}
.page .panel-content .entry-header .entry-title {
	font-size:1.6rem;
	border-bottom:2px solid #222;
}
.page-one-column .panel-content .wrap {
	max-width:auto;
}
.panel-content > .wrap {
	background-color:white;
}
.panel-content {
	background-color:white;
}

/*
main {
	max-width:1000px;
	margin: 0 auto;
}

article:nth-of-type(even) .panel-image {
	clip-path: polygon(0% 0%, 740px 0%, 100% 100%, calc(100% - 740px) 100%);
}
article:nth-of-type(odd) .panel-content .wrap {
	float:left;
}

article:nth-of-type(odd) .panel-image {
	clip-path: polygon(calc(100% - 740px) 0%, 100% 0%, 740px 100%, 0% 100%);
}
article:nth-of-type(even) .panel-content .wrap {
	float:right;
}
*/

@media screen and (min-width: 48em) {
	.panel-content div.wrap {
		padding-top:7em;
	}
}
/* === Footer === */
.wrap .site-info {
	width:100%;
	display:flex;
	justify-content:center;
	margin:0 !important
}
.social-navigation .social-links-menu {
	display:none;
}
footer.site-footer {
	margin-top:0;
}

/* === Custom Content Css === */
img.image-border {
	border: 1px solid #eee;
	box-sizing:border-box;
	box-shadow: 0px 0px 20px #bbb;
}

/* === Custom Frontpage Css === */
.tom-work-grid {
		display:grid; 
		grid-gap:40px 0px;
		grid-template-columns: 1fr ;
		text-align:center;
		align-items:center;
		justify-items:center;
}
.tom-content {
	background-color:#eee;
	padding:15px;
	border-radius:3px;
	position:relative;
	justify-self:stretch;
	grid-column:1/-1;
}
.tom-image {
	grid-column:1/-1;
}
.tom-content h2 {
	padding:0px;
	margin:0px;
	padding-bottom:5px;
	margin-bottom:10px;
}
.tom-content p {
	margin:0;
}
@media screen and (min-width: 30em) {
	.tom-work-grid {
		grid-template-columns: repeat(4,1fr); 
		grid-gap:40px 20px;
		grid-auto-flow:dense;
	}
	.tom-content {
		grid-column:2/5;
	} 
	.tom-image {
		grid-column:1/2;
	}
	.tom-content:nth-child(4n) {
		grid-column:1/4;
	}
	.tom-image:nth-child(4n-1) {
		grid-column:4/5;
	}
}
